body {
  margin: 0;
  padding: 20px;
  background-color: #cccbe8;
  color: #7c0000;
  font-family: "Zilla Slab", serif;
  font-weight: 300;
  font-style: normal;
}

.pStyle {
  font-size: 20px;
}

.hidden {
  display: none;
}

.btn {
  background-color: #cccbe8;
  border: none;
}

.fa-solid {
  color: #7c0000;
}

.gridcontainer {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% 80% 10%;
  gap: 0;
  padding: 0;
}

.griditem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;
}
