.zilla-slab-light {
  font-family: "Zilla Slab", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #cfd1e4;
  color: #7c0000;
  font-style: normal;
  height: 100svh;
  font-family: "Zilla Slab", serif;
}

h1 {
  font-weight: bold;
}

.pStyle {
  font-size: 20px;
}

.hidden {
  display: none;
}

.btn {
  background-color: #cfd1e4;
  border: none;
  padding: 5px;
  color: #7c0000;
  cursor: pointer;
}

.btn:hover {
  color: #ff8000;
}

.gridcontainer {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20% 60% 20%;
  gap: 0;
  height: 100svh;
}

.griditem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pageContent {
  display: flex;
  justify-content: top;
}

#doorButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.blue-door {
  background-color: #100d6c;
  color: white;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  cursor: pointer;
  font-family: "Zilla Slab", serif;
}

.white-door {
  background-color: white;
  color: #100d6c;
  padding: 10px;
  font-size: 20px;
  font-family: "Zilla Slab", serif;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  cursor: pointer;
}

.blue-key {
  background-color: #7c0000;
  color: white;
  padding: 10px;
  font-size: 20px;
  font-family: "Zilla Slab", serif;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  cursor: pointer;
}
