body {
  margin: 0;
  padding: 20px;
  background-color: #cfd1e4;
  color: #7c0000;
  font-family: "Zilla Slab", serif;
  font-weight: 300;
  font-style: normal;
  height: fit-content;
}

.pStyle {
  font-size: 20px;
}

.hidden {
  display: none;
}

.btn {
  background-color: #cfd1e4;
  border: none;
}

.fa-solid {
  color: #7c0000;
}

.fa-solid:hover {
  color: #ff8000;
}

.gridcontainer {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% 80% 10%;
  gap: 0;
  padding: 0;
}

.griditem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

#pageContent {
  display: flex;
  justify-content: top;
}

#doorButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.blue-door {
  background-color: #100d6c;
  color: white;
  padding: 10px, 20px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
}

.white-door {
  background-color: white;
  color: #100d6c;
  padding: 10px, 20px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
}
